<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.crawler.mapper.TestUserMapper">


    <update id="testBatchUpdate">
       ${sql}
    </update>

    <update id="testBatchUpdatexx">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update lz_test_user
            <set>
                real_name=#{item.realName}
            </set>
            where id = #{item.id}
        </foreach>
    </update>


</mapper>

